/* cormorant-sc-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/cormorant-sc-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cormorant-upright-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cormorant Upright';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/cormorant-upright-v19-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* arizonia-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Arizonia';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/arizonia-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  font-size: 16px;

}

body {
  line-height: 1.65;
  background-color: #ccbea3;
}

header {
  display: grid;
  grid-template-columns: .8fr .7fr;
  padding:20px;
  border-radius: 15px;
  text-align: center;
  background-color: #2F1B12;
}

.name {
  font-family: 'Arizonia';
  font-size: 1.7em;
  text-decoration: none;
}

h1 {
  font-family: 'Cormorant SC';
  font-weight: 700;
  font-size: 3.5em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0;
  position: relative;
  display: inline-block;
  color:#2F1B12;
  margin-bottom: 0;
}

h2,
.text-size-h2 { 
  font-size: 2.8em; 
  font-family: 'Cormorant SC';
}

h3,
.text-size-h3 { 
  font-size: 2em; 
  font-family: 'Cormorant SC';
}

p {
  font-size: 1.6em;
  font-family: 'Cormorant Upright';
}  

.bar ul{
  font-size: 1.6em;
  font-family: 'Cormorant Upright';
  list-style: none;
  display: flex;
  margin-left:45%;
  gap:20px;
}

header .login {
  text-decoration: none;
  display: flex;
  position: relative;
  margin-left:165%;
  color: #F9F0EA;
  opacity: 0.9;
}
header .contact {
  text-decoration: none;
  display: inline-block;
  margin-left: 50%;
  color: #F9F0EA;
  opacity: 0.9;
}

.logo {
position: relative;
display: inline-block;
margin-left:22%;
padding: 15px;
margin-bottom:2%;
}

nav ul {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  gap:100px;
  opacity: 0.9;
 }

nav a {
  font-family: 'Cormorant Upright';
	display: inline-flex;
	text-decoration: none;
  font-size: 1.6em;
	color: #F9F0EA;
	padding: 10px 15px ;
  gap: 100px;
}

nav a {
	/* transition all .8s; */
	transition: all .8s;
	background-color: 1s ease-in 1s;
}

nav a:hover {
	text-decoration:underline;
	transform: scale(1.5);
}

.author {
  font-size: 1.2em;
  text-align: end;
  padding-right:70px;
  margin-top:-2.3em;
}

.footer {
  border-radius: 15px;
  margin-top:20px;
  padding: 30px 15%;
  background-color: #2F1B12;
  display: flex;
  color:#f9f0eacb;
}
.footer div {
  text-align: center;
}

.col-2 {
  flex-grow:2;
}
.footer div h3{
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.col-1 a {
  display: block;
  text-decoration: none;
  color: #f9f0eacb;
  margin-bottom: 10px;
  font-family: 'Cormorant Upright';
  font-size:1.4em;
}

form input {
  width:400px;
  height:45px;
  border-radius:10px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color:#ccbea3;
  outline: none;
  border:none;
  font-size: 1.2em;
  font-family: 'Cormorant Upright';
}
form button {
  background: transparent;
  border: 2px solid #ccbea3;
  border-radius: 10px;
  padding:10px 20px;
  font-size: 1.4em;
  color:#f9f0eacb;
  font-family: 'Cormorant Upright';
  cursor:pointer;
}

.col-3 a {
  color:#f9f0eacb;
  text-decoration: none;
}

.img2 {
padding: 20px;
border-radius: 30px;
width:1000px;
height:500px;
}
aside {
  flex:30%;
  align-items: center;
  padding:15px;
  height: fit-content;
  border:.2px dotted #2F1B12;
  border-radius: 10px;
  box-shadow: 4px 5px#1d100b;
  color:#2F1B12;
  width:90%;
  margin-left:3.5%;
}

.img1 {
padding: 20px;
border-radius: 30px;
width:400px;
height:500px;
}

.img9 {
padding: 20px;
border-radius: 30px;
width:1000px;
height:500px;
}
.img10 {
padding: 20px;
border-radius: 30px;
width:1000px;
height:500px;
}

.img11 {
padding: 20px;
border-radius: 30px;
width:400px;
height:500px;
}
.img12 {
padding: 20px;
border-radius: 30px;
width:400px;
height:500px;
}

.container {
  flex-direction: row;
  border: hidden;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-evenly;
  gap: 10px;
  padding:5px;
  border-radius: 20px;
  margin-top: 5%;
}